<div class="songs">
  <div class="song">
    <div class="controls">
      <div class="wrap">
        <a href="/play/album/{{album_id}}">Play this Album</a>
      </div>
    </div>
  </div>

  {{#songs}}
    {{>song}}
  {{/songs}}
</div>
