<div class="songs">
  <div class="song" style="padding: 12px 0 0 0">
    <div class="controls">
      <div class="wrap">
        <a href="/album/{{album_id}}/download">Download this Album (.zip)</a>
      </div>
    </div>
  </div>

  {{#songs}}
    {{>song}}
  {{/songs}}
</div>
