<div id="history">
  {{#recent}}
    <div class="song">
      <a href="/song/{{id}}">{{title}}</a>
      by
      <a href="/artist/{{artist_name}}">{{artist_name}}</a>
    </div>
  {{/recent}}
</div>

{{#songs}}
  {{>song}}
{{/songs}}