<!DOCTYPE html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
  
  <link rel="stylesheet" href="/css/base.css">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script type="text/javascript" src="/js/underscore.js"></script>
  <script type="text/javascript" src="/js/backbone.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>
  <script type="text/javascript" src="/js/templating.js"></script>

  <!-- Combine and Compress These CSS Files
    <link rel="stylesheet" href="stylesheets/globals.css">
    <link rel="stylesheet" href="stylesheets/typography.css">
    <link rel="stylesheet" href="stylesheets/grid.css">
    <link rel="stylesheet" href="stylesheets/ui.css">
    <link rel="stylesheet" href="stylesheets/forms.css">
    <link rel="stylesheet" href="stylesheets/orbit.css">
    <link rel="stylesheet" href="stylesheets/reveal.css">
    <link rel="stylesheet" href="stylesheets/mobile.css">
    <link rel="stylesheet" href="stylesheets/play.css">
  <!-- End Combine and Compress These CSS Files -->

  <title>Play: {{title}}</title>

</head>
<body>
  <div id="top-bar" class="container">
         
    <header id="admin" class="row">
      <a id="logo">[Play]</a>

      <form class="search" method="get" action="/search">
        <input type="search" name="q" value="find music" />
      </form>

      <a class="user" class="two" href="/{{login}}">@{{login}}</a>
	  </header>
    
  </div><!-- #top-bar .container -->
	    
  <div id="main" class="container">
    <div class="row">
      <div id="left" class="three columns">
        <section id="controller">
          <a href="/api/prev">Previous</a>

          {{#playing?}}
          <a href="/api/pause">Pause</a>
          {{/playing?}}

          {{^playing?}}
          <a href="/api/pause">Play</a>
          {{/playing?}}

          <a href="/api/next">Next</a>
        </section>
	        
        <section id="now-playing">
          <ul>
            {{#now_playing}}
              <li class="name">UNLOADED</li>
              <li class="artist"><em>by</em> <a href="#">UNLOADED</a></li>
              <li class="album"><em>from</em> <a href="#">UNLOADED</a></li>
            {{/now_playing}}
          </ul>

          <a class="album-art" href="#"><img src="images/album-placeholder.png" /></a>
        </section>
        
        <section id="song-stats">
          <p>Here's where rad stats, likes, and shit like that go</p>
        </section>
      </div>

      <section id="queue" class="nine columns">
        <dl class="tabs">
           <dd><a class="{{queue_page}}" href="/">Queue</a></dd>
           <dd><a class="{{history_page}}" href="/history">History</a></dd>
        </dl>

        {{{yield}}}
      </section>
    </div>
  </div>
</body>

</html>