<!DOCTYPE html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="/js/play.js"></script>

  	<!-- Included CSS Files -->
	<!-- Combine and Compress These CSS Files -->
	<link rel="stylesheet" href="stylesheets/globals.css">
	<link rel="stylesheet" href="stylesheets/typography.css">
	<link rel="stylesheet" href="stylesheets/grid.css">
	<link rel="stylesheet" href="stylesheets/ui.css">
	<link rel="stylesheet" href="stylesheets/forms.css">
	<link rel="stylesheet" href="stylesheets/orbit.css">
	<link rel="stylesheet" href="stylesheets/reveal.css">
	<link rel="stylesheet" href="stylesheets/mobile.css">
	<link rel="stylesheet" href="stylesheets/play.css">
	<!-- End Combine and Compress These CSS Files -->
	<link rel="stylesheet" href="stylesheets/app.css">

    <title>Play: {{title}}</title>
    
</head>
<body>
<div id="top-bar" class="container">
    <header id="admin" class="row">
      
      <a id="logo">[Play]</a>
    
      <form class="search" method="get" action="/search">
        <input type="search" name="q" value="find music" />
      </form>
    
      <a class="user" class="two" href="/{{login}}">@{{login}}</a>

	</header>
  </div>
	    
  <div class="container">
  <div class="row">
    <div id="controller" class="three columns">
	     <!--<h1>{{title}}</h1>-->
	     {{#stream?}}
           <a href="{{stream_url}}">stream</a>
         {{/stream?}}

         {{#playing?}}
           <a href="/api/pause">❙❙</a>
         {{/playing?}}

         {{^playing?}}
           <a href="/api/pause">❯</a>
         {{/playing?}}

         
         <a href="/api/prev">prev</a>
         <a href="/api/next">❯❯</a>
	    
	</div>

	    
	<div id="queue" class="eight columns offset-by-one">			
		<nav role="queue-history">
          <a class="{{queue_page}}" href="/">Queue</a>
          <a class="{{history_page}}" href="/history">History</a>
        </nav>	
        
        {{{yield}}}
        	
    </div>
  </div>
  </div>
</body>
</html>