<!DOCTYPE html>
<html>
<head>
  <title>Play: {{title}}</title>
  <link rel="stylesheet" href="/css/base.css" type="text/css" />
</head>

<body>
  <div class="navigation">
    <h1>{{title}}</h1>

    <a href="/">Queue</a>
    <a href="/history">History</a>
    <a href="/{{login}}">@{{login}}</a>

    <form method="get" action="/search">
      <input type="search" name="q" />
    </form>

  </div>

  {{{yield}}}
</body>
</html>
