<div class="content">
  <div style="height: 75px; margin-left: 10px;">
    {{#user}}
      <div class="profile_box">
        <img src="//www.gravatar.com/avatar.php?gravatar_id={{gravatar_id}}&size=140" class="gravatar" height="75" width="75" />
      </div>

      <div class="bio">
        <strong>@{{login}}</strong><br />
        Played {{votes_count}} songs, with a special fetish for songs by

        {{#favorite_artists}}
          <a href="/artist/{{name}}">{{name}}</a>,
        {{/favorite_artists}} among others.
      </div>
    {{/user}}
  </div>
</div>
