<div class="content">
  {{#users}}
    <a href="/{{login}}">
      <img src="//www.gravatar.com/avatar.php?gravatar_id={{gravatar_id}}&size=100" class="gravatar" height="50" width="50" />
    </a>
  {{/users}}

  Played {{plays}} times.
</div>
