<div class="content">
  {{#users}}
    <a href="/{{login}}">
      <img src="https://secure.gravatar.com/avatar/{{gravatar_id}}?size=100" class="gravatar" height="50" width="50" />
    </a>
  {{/users}}

  Played {{plays}} times.
</div>
