<div class="song">
  <div class="star">
    <a href="/star/{{id}}" title="star song">☆</a>
  </div>

  <div class="artist">
    <a href="/artist/{{artist_name}}">{{artist_name}}</a>
  </div>

  <div class="title">
    <a href="/song/{{id}}">{{title}}</a>
  </div>

  <div class="controls">
    {{#queued?}}
      <span><a href="/remove/{{id}}" title="remove from queue" class="remove">Don't Play</a></span>
    {{/queued?}}
    {{^queued?}}
      <span><a href="/add/{{id}}" title="add to queue" class="add">Play</a></span>
    {{/queued?}}

    <a href="/song/{{id}}/download">Download</a>
  </div>

  <div class="stats">
    {{to_playcount}}.

    {{#current_votes}}
      {{#user}}
        <a href="/{{login}}">
          <img src="//www.gravatar.com/avatar.php?gravatar_id={{gravatar_id}}&size=50" class="gravatar" height="25" width="25" />
        </a>
      {{/user}}
    {{/current_votes}}
  </div>
</div>
