<div class="song {{#now_playing?}}now-playing{{/now_playing?}}">
  
  <div class="title">
    <a href="/song/{{id}}">{{title}}</a>
  </div>
  
  <div class="artist">
    <a href="/artist/{{artist_name}}">{{artist_name}}</a>
  </div>
  
  <div class="album">
    <a href="/album/{{album_id}}"><img src="{{album_art_url}}" width="75" height="75" title="{{album_name}}" /></a>
  </div>

  <div class="star">
    <a href="/star/{{id}}" title="star song">☆</a>
  </div>

  

  

  <div class="controls">
    {{^now_playing?}}
      {{#queued?}}
        <span><a href="/remove/{{id}}" title="remove from queue" class="remove">Don't Play</a></span>
      {{/queued?}}
      {{^queued?}}
        <span><a href="/add/{{id}}" title="add to queue" class="add">►</a></span>
      {{/queued?}}
    {{/now_playing?}}

    <a href="/song/{{id}}/download" class="secondary">Download</a>
  </div>

  <div class="stats">
    {{to_playcount}}.

    {{#current_votes}}
      {{#user}}
        <a href="/{{login}}">
          <img src="https://secure.gravatar.com/avatar/{{gravatar_id}}?size=50" class="gravatar" height="25" width="25" />
        </a>
      {{/user}}
    {{/current_votes}}
  </div>
</div>
