/*

 orange FF9900
   dark 424242
  light E9E9E9
   grey BCBCBC
 bright 3299BB

*/

html{
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
}
body{
  background-color: #fff;
  background-image: url('/images/texture.png');
  background-repeat: repeat;
  margin: 0;
  padding: 0 0 75px 0;
  color: #424242;
}
h1{
  text-align: left;
  margin: 40px 0 10px 0;
  padding: 0;
  padding-left: 5px;
  letter-spacing: -3px;
  color: #000;
}
a{
  color: #5E7894;
  text-decoration: none;
}
a:hover{
  color: #000;
}

.navigation{
  width: 600px;
  margin: 25px auto 15px auto;
  padding: 2px 10px;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 1.4em;
}
.navigation a{
  color: #3299BB;
  margin: 0 7px;
  text-decoration: none;
}
.navigation a:hover, .navigation a.active{
  color: #FF9900;
  border-bottom: 3px solid #BCBCBC;
}
.navigation form{
  display: inline;
}
.navigation input{
  float: right;
  width: 200px;
  color: #FF9900;
}
.gravatar{
  -webkit-border-radius: 5px;
}
.content{
  width: 600px;
  margin: 0 auto;
  padding: 10px;
}

/*
 * SONGS
 */
.song{
  width: 600px;
  margin: 0 auto;
  padding: 10px 0;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
.song .star{
  float: left;
  margin-left: 15px;
}
.song .star a{
  color: #ccc;
}
.song .artist{
  padding-top: 3px;
  padding-left: 40px;
  font-size: 14px;
  font-weight: 500;
}
.song .artist a{
  color: #bcbcbc;
}
.song .title{
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 40px;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -px;
}
.song .title a{
  color: #424242;
}
.song .album{
  margin: 13px 25px;
  float: right;
}
.song .album img{
  border: 1px solid #bcbcbc;
  box-shadow: 0px 3px 4px #eee;
  border-radius: 3px;
}
.song .controls{
  margin: 15px 0 0 40px;
  height: 25px;
  font-size: 11px;
}
.song .controls a{
  font-weight: bold;
  color: #fff;
  text-shadow: 0 -1px -1px rgb(50,153,187);
  border: 1px solid #3299BB;
  background-color: rgb(75,169,199);
  box-shadow: inset 0px 1px 0px 0px rgb(128,193,216);
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 5px;
}
.song .controls .secondary{
  background-color: #eee;
  box-shadow: inset 0px 1px 0px 0px #fff;
  text-shadow: 0 -1px -1px #fff;
  color: #111;
  border-color: #bcbcbc;
}
.song .stats{
  display: none;
  background-color: #111;
  padding: 5px 10px;
  font-size: 13px;
  color: #BCBCBC;
}

/*
 * PROFILE
 */
.profile_box{
  margin-right: 10px;
  float: left;
  font-size: 1.1em;
}
.bio{
  line-height: 1.5em;
}
