/*

 orange FF9900
   dark 424242
  light E9E9E9
   grey BCBCBC
 bright 3299BB

*/

html{
  font-family: Helvetica, sans-serif;
}
body{
  background-color: #fff;
  background-image: url('/images/texture.png');
  background-repeat: repeat;
  margin: 0;
  padding: 0 0 75px 0;
  color: #424242;
}
h1{
  text-align: left;
  margin: 40px 0 10px 0;
  padding: 0;
  padding-left: 5px;
  letter-spacing: -3px;
  color: #000;
}
a{
  color: #5E7894;
  text-decoration: none;
}
a:hover{
  color: #000;
}

.navigation{
  width: 600px;
  margin: 25px auto 15px auto;
  padding: 2px 10px;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 1.4em;
}
.navigation a{
  color: #3299BB;
  margin: 0 7px;
  text-decoration: none;
}
.navigation a:hover, .navigation a.active{
  color: #FF9900;
  border-bottom: 3px solid #BCBCBC;
}
.navigation form{
  display: inline;
}
.navigation input{
  float: right;
  width: 200px;
  color: #FF9900;
}
.gravatar{
  -webkit-border-radius: 5px;
}
.content{
  width: 600px;
  margin: 0 auto;
  padding: 10px;
}

/*
 * SONGS
 *
 * Also see .song.now-playing
 */
.song{
  width: 600px;
  margin: 0 auto;
  padding: 10px 0;
  background-color: #E9E9E9;
  background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #E9E9E9),
	color-stop(0.5, #fff)
  );
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}
.song .artist{
  padding-left: 10px;
  font-size: 24px;
  letter-spacing: -1px;
}
.song .artist a{
  color: #BCBCBC;
}
.song .title{
  margin-bottom: 5px;
  padding-left: 10px;
  font-size: 36px;
  letter-spacing: -2px;
}
.song .title a{
  color: #424242;
}
.song .album{
  float: left;
  font-size: 16px;
  letter-spacing: -2px;
}
.song .album a{
  color: #3299BB;
}
.song .controls{
  height: 25px;
  text-align: right;
  font-size: 11px;
}
.song .controls .wrap a{
  color: #fff;
  text-shadow: 0 1px 1px #424242;
  background-color: #3299BB;
  background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.37, rgb(50,153,187)),
	color-stop(0.69, rgb(113,200,227))
  );
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 5px;
}
.song .controls .wrap a:hover{
  color: #fff;
  background-image: none;
  background-color: #3299BB;
}
.song .controls img{
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 3px;
  border-radius: 3px;
  opacity: .75;
}
.song .controls a img{
  background-color: #000;
}
.song .stats{
  float: left;
  margin-left: 2px;
  padding: 5px 10px;
  font-size: 13px;
  font-weight: 300;
  color: #BCBCBC;
}

/*
 * NOW PLAYING
 */
.song.now-playing{
  background-color: #D1E7CA;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #D1E7CA),
    color-stop(0.5, #FFF)
  );
}

/*
 * HISTORY
 */
#history .song{
  color: #BCBCBC;
  font-size: 0.8em;
  background-color: #E9E9E9;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #E9E9E9),
    color-stop(0.5, #FFF)
  );
  padding: 5px;
}
#history .song a{
  color: #3299BB;
}

/*
 * PROFILE
 */
.profile_box{
  margin-right: 10px;
  float: left;
  font-size: 1.1em;
}
.bio{
  line-height: 1.5em;
}
