/* Variables */

$purple: #ea36f5;



/* GLOBAL AND LAYOUT */

* {
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}

body {
/*   background: url('/images/tactile_noise_mid.png') repeat center center; */
  background: #f1f1f1;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

.row {
  width: 840px;
  position: relative;
  margin: 0 auto;
}

a {
  text-decoration: none;

  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  -webkit-transition-property: color;
  -webkit-transition-duration: 1s;
  color: $purple;
}

a:hover {

  color: darken($purple, 25%);
}


/* TOP BAR SECTION */

#top-bar {
  width: 100%;
  height: 60px;
  padding: 10px 0;
  margin-bottom: 0px;

/*
  background: rgba(0,0,0,.5);
  border-bottom: 1px solid #222222;

  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.5);
*/

}

#controls {
  float: left;
  height: 40px;
  margin-left: 30px;
  a {
    display: inline-block;
    width: 26px;
    height: 30px;
    text-indent: -5000px;
  }
  span {
    visibility: hidden;
  }
}



#play {
  background: url('/images/controller-play.png') no-repeat left top;
}

#play:hover {
  background-position: right top;
}

#pause {
  background: url('/images/controller-pause.png') no-repeat left top;
}

#pause {
  background: url('/images/controller-pause.png') no-repeat left top;
}


.user-logged-in {
  float: right;
  margin-top: 12px;
  color: #5c5e60;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1px;
}

/* NOW PLAYING */

#now-playing {
  min-height: 220px;
  background: #fff;
  padding: 30px;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  ul {
      width: 570px;
      margin-top: 5px;
      font-size: 24px;
      font-weight: 300;
      line-height: 1.3;
      text-align: bottom;
  }

  .name {
    font-weight: 700;
  }

  .album-art {
    position: absolute;
    top: 10px;
    right: 10px;
    -webkit-backface-visibility: hidden;
  }

  .album-art:hover {
  }

  img {
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.5);

  }

  em {
    font-size: 10px;
  }

  ul.song-actions {
    position: absolute;
  }
}

/* QUEUE, HISTORY, AND SEARCH SECTION */

#queue-results {
  margin-bottom: 30px;
}

#queue-results header {
  height: 43px;
  background: rgba(0,0,0,1);
  border-bottom: 1px solid #222222;

/*   -webkit-box-shadow: 0 0 5px rgba(0,0,0,.5); */
}

nav[role=queue-history] {
  position: absolute;
  top: 13px;
  left: 30px;
  a {
    margin-right: 30px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

form.search {
  position: absolute;
  top: 8px;   right: 30px;

}

.song {
  position: relative;
  height: 100px;
  margin-bottom: 1px;
  padding: 10px 10px 10px 30px;
  background: #fff;
  font-size: 21px;
  font-weight: 600;

  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 1s;

  background-color: #fff;

  ul.song-info {
    float: left;
    width: 600px;
    margin: 30px 0 0 40px;
    border: solid 1px blue;
  }

  .song-name {
    font-weight: 700;
  }

  .artist {
    font-size: 14px;
    font-weight: 400;
  }

  ul.song-actions {
    position: absolute;


    li {
      display: inline;
      float: left;
      margin-right: 15px;
    }
  }

  img {
    height: 80px;
    float: right;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.5);
  }

  .dl-song {
    float: right;
    margin-right: 5px;
  }

}

.song:hover {
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 1s;
  background-color: #fef2ff;
}



.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  text-indent: -5000px;
  background: #ccc;
}

.star, .unstar {

}

.add-to-queue {
  background: url('/images/add-to-queue.png') no-repeat top left;
}

.remove-from-queue {
  background: url('/images/remove-from-queue.png') no-repeat top left;
}



.icon:hover {
  background: url('/images/add-to-queue.png') no-repeat top right;
}

.dl-song {

}

.dl-album {

}


/* UPLOADS */

#uploads {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  background-color: #000;
  opacity: 0.9;
  padding: 10px;
  color: #fff;
}

#current {
  float: left;
  font-size: 12px;
  padding-top: 4px;
}

#progressbar {
  float: right;
  margin-right: 30px;
  width: 350px;
  background-color: #222;
}

.ui-progressbar-value {
  background-image: url(/images/pbar-ani.gif);
  border-radius: 3px;
  height: 30px;
}

