@import url(reset.css);

body {
  background: url('/images/tactile_noise.png') repeat;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

.wrapper {
  width: 960px;
  position: relative;
  margin: 0 auto;
}

.column {
  float: left;
}

.left {
  width: 300px;
}

.right {
  width: 660px;
}

a {
  color: #ea36f5;
  text-decoration: none;

}


#top-bar {
  width: 100%;
  height: 40px;
  padding-top: 15px;
  margin-bottom: 40px;
  background: rgba(0,0,0,.3);
  border-bottom: 1px solid #222222;
  
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.5);

}

#logo {
  float: left;
  width: 100px;
  color: #fff;

}

form.search {
  display: inline;
  float: left;
  margin-left: 240px;

}

.user-logged-in {
  float: right; 
  margin-top: 5px;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1px;
}

#now-playing-wrapper {
  width: 960px;
  height: 220px;
}


#now-playing {
  float: left;
  height: 220px;
  margin-top: 40px;
  background: #fff;
  ul {
    float: left;
    width: 400px;
    height: 220px;

  }

  img {
    float: left;
    width: 200px;
  }
}

#now-playing-stats {
   float: left;
   width: 320px;
   height: 220px;
   margin-left: 20px;
   background: #fff;
}




#controls {
  float: left;
  width: 200px;
  height: 40px;
    a {
      display: inline-block;

    }
}





#queue-results {
  width: 940px;
  clear: both;
  background: #fff;
    img {
      width: 40px;
    }
}



nav[role=queue-history] {
  padding: 10px;
  a {
    margin-right: 20px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.song {
  width: 940px;
  height: 60px;
  font-family: 'Open Sans Condensed';
  font-size: 14px;
  clear: both;
}

