@import url(reset.css);



body {
  background: #ccc url('/images/tactile_noise.png') repeat;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}


a {
  color: blue;
}




#top-bar {
  width: 100%;
  height: 40px;
  padding-top: 15px;
  margin-bottom: 40px;
  background: rgba(0,0,0,.3);
  border-bottom: 1px solid #222222;
  
}

#logo {
  float: left;
}

form.search {
  display: inline;
  float: left;
  margin-left: 40px;

}

.user-logged-in {
 
  float: right; 
}








#controls {
  float: left;
  width: 300px;

  background: #fff;
  margin-right: 40px;

}


#queue {
  width: 600px;

  background: #fff;
}



nav[role=queue-history] {
  a {
    margin-right: 20px;
  }
}


.wrapper {
  width: 940px;
  position: relative;
  margin: 0 auto;
}

.column {
  float: left;
}
