body {
  width:1280px;
  overflow:hidden;
}
#top-bar, #queue-results {
  display:none;
}

#now-playing {
  zoom:2.0;
  -moz-transform:scale(2.0);
  -moz-transform-origin:0 0;
  margin-top:48px;
  padding-left:260px;
  min-height:260px;
  width:100%;
  background:rgba(255,255,255,0.75);
  box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.2);

  .album-art {
    top:30px;
    left:30px;
  }

  ul {
    width:100%;
  }
}
.download, .star {
  display:none;
}
