<% full = false unless full %>

<% if current_user_likes.map(&:song_path).include?(song.path) %>
  <span class="icon-star unlike"></span> <%= 'Unstar Song' if full %>
<% else %>
  <span class="icon-star-empty like"></span> <%= 'Star Song' if full %>
<% end %>