<div id="queue">
  <div class="heading">
    Search results for: <span class="title"><%= params[:q] %></span>
  </div>

  <%= render :partial => 'shared/song', :collection => @songs %>
  <%= will_paginate @songs, :inner_window => 2, :previous_label => '', :next_label => '' %>
</div>
