@import "compass/css3";
@import "compass/reset";
@import "variables";
@import "header";
@import "sidebar";
@import "details";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300');


* {
  @include box-sizing(border-box);
}

body {
  font-size: 14px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  background: #f9f9f9;
}

html {
  margin: 0;
  font-family: "Helvetica Neue","Helvetica", Arial, Sans Serif;
}

a {
  color: $pink;
  text-decoration: none;
  @include transition(all .2s ease);

  &:hover {
    color: lighten($pink, 20%);
  }
}

#queue {

  h4 {
    margin: 30px 20px 0 20px;
    font-size: 20px;
    font-weight: 100;
  }

  .icon-star-empty {
    cursor: pointer;
  }
  .icon-star.unlike {
    cursor: pointer;
    color: $pink;
  }

  .song {
    position: relative;
    padding: 20px;
    display: block;
    width: 100%;
    clear: both;
    vertical-align: middle;
    @include box-shadow(0 1px 0px #e1e1e1);
    @include transition(background-color 0.5s ease);

    &:hover {
      background-color: #f7edf8;
      @include box-shadow(inset 0 1px 0 #e1e1e1, inset 0 2px 0 #fdf3fd, 0 1px 0px #e1e1e1, 0 2px 0px #fff);

      .controls {
        display: inline-block;
        float: right;
      }
    }

    .album-art {
      overflow: hidden;
      border-radius: 1px;
      position: relative;
      border: 1px solid #e1e1e1;
      margin-right: 20px;

      &:before {
        display:block;
        content:'';
        position:absolute;
        width:100%;
        height:100%;
        @include box-shadow(inset 0px 0px 0px 1px rgba(255,255,255,0.15));
      }

      img {
        display: block;
        width: 80px;
        height: 80px;
      }
    }

    .album-download {
      position: absolute;
      left: 80px;
      top: 82px;
      color: #fff;
      text-shadow: 0 0 3px #000;
      @include transition(all .2s ease);

      &:hover {
        color: $pink;
      }
    }


    > a {
      display: inline-block;
      vertical-align: middle;
    }

    .title {
      font-size: 24px;
      display: block;
      line-height: 24px;
      font-weight: 400;
      margin: 5px -2px;

      a {
        color: #333;
      }
    }

    .details {
      display: inline-block;
      vertical-align: middle;
      max-width: 500px;
    }

    .duration {
      color: #959595;
      font-weight: 300;
      font-size: 18px;
      line-height: 24px;
      margin-left: 10px;
    }

    .controls {
      padding: 8px;
      height: 100%;
      margin-top: 25px;
      display: none;

      span {
        margin-left: 6px;
      }

      a {
        font-size: 13px;
        color: #afafaf;

        &:hover {
          color: lighten(#cc33cc, 20%);
        }
      }

      a + a {
        margin-left: 10px;
      }

      .unlike, .like, .add, .remove, .icon-cloud-download {
        color: #ccc;
        cursor: pointer;
        font-size: 18px;
        @include transition(all .2s ease);
      }

      .unlike, .remove {
        color: $pink;
        &:hover { color: lighten($pink, 20%); }
      }

      .like, .add, .icon-cloud-download {
        &:hover { color: $pink; }
      }
    }

    .meta {
      float: left;

      .artist {
        display: inline-block;

        &:hover .icon-user { color: $pink; }
      }

      .album {
        &:hover .icon-music { color: $pink; }
      }

      .betweener {
        color: #959595;
        padding: 0 5px;
        display: inline-block;
      }

      .icon-user, .icon-music {
        margin-right: 6px;
        color: #ccc;
        @include transition(all .2s ease);
      }
    }
  }

  .album-details {
    padding: 20px;

    .title {
      display: block;
      margin-top: 10px;
      font-size: 24px;
      line-height: 40px;
    }

    .list {
      display: inline-block;
    }
  }
}

.artist-albums {
  margin-top: 75px;
  width: 100%;
  max-width: 770px;

  .others {
    font-size: 14px;
    padding-bottom: 10px;
    color: #999;
    font-weight: 100;
    border-bottom: 1px solid #e1e1e1;
  }

  .album-list .album a {
    padding-left: 0;
    padding-right: 20px;
  }

  .album-list .album:last-child .album-art {
    padding-right: 0px;
  }
}

.upload-preview {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 600px;
  height: 70px;
  z-index: 10;
  background-color: #181818;
  color: $pink;

  .current-filename {
    text-align: right;
    font-weight: 100;
    padding: 18px 25px 7px 0;
    font-size: 12px;
  }
  .dz-filename, .dz-size, .dz-details img, .dz-success-mark, .dz-error-mark, .dz-error-message {
    display: none;
  }
  .dz-totalprogress {
    padding: 2px;
    background-color: #000;
    border-radius: 10px;
    margin-bottom: 1px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.42), 0 1px 1px rgba(255,255,255,.13);
    float: right;
    width: 250px;
    margin-right: 15px;

    .dz-upload {
      background-color: $pink;
      background-image: -webkit-linear-gradient(left, darken($pink, 20%), lighten($pink, 10%));
      display: block;
      border-radius: 10px;
      height: 8px;
      width: 0;
      @include transition(all .2s ease);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.42), 0 1px 1px rgba(255,255,255,.13);
    }
  }
}

.drop-overlay {
  display: none;
  background-color: rgba(0,0,0,.9);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 40px;
  padding-top: 18%;
  font-weight: 100;
  font-style: italic;

  .icon-cloud-upload {
    display: block;
    font-size: 200px;
  }
}

.pull-right{
  float: right;
}

.pull-left{
  float: left;
}
