@import "compass";
@import "compass/css3/font-face";
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/box-sizing";

* {
	padding: 0;
	margin: 0;
}

html {
  margin: 0;
	font-family: "Helvetica Neue","Helvetica", Arial, Sans Serif;
}

a {
	color: #cc33cc;
	text-decoration: none;
}

#header {
	background: #111;
	padding: 10px;
	display: inline-block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	h1 {
		display: inline-block;
		float: left;
		height: 48px;
		width: 114px;
		text-indent: -9999px;
		background: url("/app/assets/images/play-logo.png") no-repeat center center;
	}

	#login {
		float: right;
	}

	.search {
		float: right;
		border-radius: 3px;
		padding: 5px 10px;
		display: inline-block;
	}
}

#playing {
	width: 300px;
	height: 100%;
	background: #212121;
	position: fixed;
	left: 0;
	top: 68px;
	bottom: 0;
	display: inline-block;
	z-index: -9;
}

#queue {
	margin-top: 40px;
	margin-left: 300px;

	.song {
		display: block;
		margin-bottom: 20px;
		margin-left: 20px;

		img {
			float: left;
			margin-right: 20px;
		}

		.title {
				display: inline-block;

			a {
				font-size: 24px;
				color: #333;
				text-decoration: none;
			}
		}

		.artist {

		}

		.duration {
			color: #959595;
		}
	}
}