@import "compass";
@import "compass/css3/font-face";
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/box-sizing";
@import "vars";

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html {
  margin: 0;
  font-family: "Helvetica Neue","Helvetica", Arial, Sans Serif;
}

a {
  color: $pink;
  text-decoration: none;

  &:hover { text-decoration: underline; }
}

#header {
  background: #111;
  padding: 10px;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  h1 {
    display: inline-block;
    float: left;
    height: 50px;
    width: 114px;
    text-indent: -9999px;
    background: url("/app/assets/images/play-logo.png") no-repeat center center;
    background-size: 114px 50px;
  }

  #login {
    float: right;
  }

  .search {
    float: right;
    border-radius: 3px;
    padding: 5px 10px;
    display: inline-block;
  }
}

#sidebar {
  width: 300px;
  height: 100%;
  background: #212121;
  position: fixed;
  left: 0;
  top: 68px;
  bottom: 0;
  padding: 25px;
  display: inline-block;
  z-index: 0;
  @include box-shadow( 1px 0 2px rgba(0,0,0, .3), inset -1px 0 0 rgba(#fff, .2));
}

.now-playing {
  text-shadow: 0 1px 1px rgba(#000, .8);

  .album-art {
    overflow: hidden;
    border-radius: 3px;
    display: block;

    img {
      max-width: 250px;
      display: block;
    }
  }

  .album-info {
    font-weight: 300;
    font-size: 14px;
    color: #666;
  }

  hr {
    border: 0;
    border-top: 1px solid #111;
    border-bottom: 1px solid #363636;
    margin: 15px 0;
  }

  .now-playing-meta {
    padding: 0 8px;

    h2 {
      font-weight: 300;
      font-size: 24px;
      color: #fff;
      margin: 15px 0 5px;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

// A list of iconned actions that appears in the Now Playing portion of the sidebar.
.now-playing-actions {
  background-color: #1a1a1a;
  border: 1px solid #000;
  box-shadow: 0 1px 0 #383838;
  border-radius: 3px;

  li {
    border-top: 1px solid #282828; 
    border-bottom: 1px solid #000;

    &:first-child { border-top: 0; }
    &:last-child { border-bottom: 0; }
  }

  .now-playing-action-icon { font-size: 15px; }

  .now-playing-action {
    color: #999;
    font-size: 13px;
    padding: 8px;
    display: block;

    &:hover { text-decoration: none; }

    &:hover span { color: $pink; }

    &:hover .icon-play-star:before,
    &.selected .icon-play-star:before { content: "\f005"; }

    &.selected:hover .icon-play-star:before,
    .icon-play-star:before { content: "\f006"; }
  }
}

#queue {
  margin-top: 40px;
  margin-left: 300px;
  background: #f9f9f9;

  .song {
    padding: 20px;
    display: inline-block;
    width: 100%;
    clear: both;
    @include box-shadow(0 1px 0px #e1e1e1, 0 2px 0px #fff);

    &:hover {
      background: rgba(#d830e2, .07);
    }

    img {
      float: left;
      margin-right: 20px;
    }

    .title {
        display: inline-block;

      a {
        font-size: 24px;
        color: #333;
        text-decoration: none;
      }
    }

    .artist {

    }

    .duration {
      color: #959595;
    }
  }
}