@import "compass";
@import "compass/css3/font-face";
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/box-sizing";
@import "vars";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);


* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
	font-size: 14px;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

html {
  margin: 0;
  font-family: "Helvetica Neue","Helvetica", Arial, Sans Serif;
}

a {
  color: $pink;
  text-decoration: none;
}

#header {
	background: #181818;
	padding: 10px;
	display: inline-block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	@include box-shadow(0 1px 2px rgba(0,0,0,.3));

	h1 {
		display: inline-block;
		float: left;
		height: 50px;
		width: 114px;
		text-indent: -9999px;
		background: url("/app/assets/images/play-logo.png") no-repeat center center;
		background-size: 114px 50px;
	}

	#login {

	}

	.search {
		border-radius: 3px;
		display: inline-block;
    position: relative;
    margin-left: 5px;

    .advanced-search {
      display: inline-block;
      background-color: #444;
      border-radius: 30px 0 0 30px;
      padding: 5px 5px 5px 8px;
      border: 1px solid #000;
      border-right: 0;
      font-size: 16px;
      color: #e8e8e8;

      &:hover {
        color: $pink;
      }
    }

    .icon-search {
      color: #e8e8e8;
      position: absolute;
      top: 5px;
      right: 12px;
      font-size: 16px;
    }

    input[type="text"] {
      display: inline-block;
      font-size: 14px;
      background-color: #303030;
      border-radius: 0 30px 30px 0;
      padding: 5px 32px 5px 8px;
      border: 1px solid #000;
      margin: 0;
      color: #eee;
      outline: none;

      &:focus {
        border: 1px solid $pink;
      }
    }
	}
}

section[role="nav"] {
  float: right;
}

#sidebar {
  width: 300px;
  height: 100%;
  background: #212121;
  position: fixed;
  left: 0;
  top: 68px;
  bottom: 0;
  padding: 25px;
  display: inline-block;
  z-index: 0;
  @include box-shadow( 1px 0 2px rgba(0,0,0, .3), inset -1px 0 0 rgba(#fff, .2));
}

.now-playing {
  text-shadow: 0 1px 1px rgba(#000, .8);

  .album-art {
    overflow: hidden;
    border-radius: 3px;
    display: block;

    img {
      width: 250px;
      height: 250px;
      display: block;
    }
  }

  .album-info {
    font-weight: 300;
    font-size: 14px;
    color: #666;
  }

  hr {
    border: 0;
    border-top: 1px solid #111;
    border-bottom: 1px solid #363636;
    margin: 15px 0;
  }

  .now-playing-meta {
    padding: 0 8px;

    h2 {
      font-weight: 300;
      font-size: 24px;
      color: #fff;
      margin: 15px 0 5px;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

// A list of iconned actions that appears in the Now Playing portion of the sidebar.
.now-playing-actions {
  background-color: #1a1a1a;
  border: 1px solid #000;
  box-shadow: 0 1px 0 #383838;
  border-radius: 3px;

  li {
    border-top: 1px solid #282828;
    border-bottom: 1px solid #000;

    &:first-child { border-top: 0; }
    &:last-child { border-bottom: 0; }
  }

  .now-playing-action-icon { font-size: 15px; }

  .now-playing-action {
    color: #999;
    font-size: 13px;
    padding: 8px;
    display: block;

    &:hover { text-decoration: none; }

    &:hover span { color: $pink; }

    &:hover .icon-play-star:before,
    &.selected .icon-play-star:before { content: "\f005"; }

    &.selected:hover .icon-play-star:before,
    .icon-play-star:before { content: "\f006"; }
  }
}

#queue {
	margin-top: 58px;
	margin-left: 300px;
	background: #f9f9f9;

	.song {
		padding: 20px;
		display: block;
		width: 100%;
		clear: both;
		vertical-align: middle;
		@include box-shadow(0 1px 0px #e1e1e1, 0 2px 0px #fff);

		&:hover {
			background: rgba(#d830e2, .07);

			.controls {
				display: block;
			}
		}

		img {
			display: inline-block;
			margin-right: 20px;
			@include border-radius(1px);
			border: 1px solid #e1e1e1;
		}

		> a {
			display: inline-block;
			vertical-align: middle;
		}

		.details {
			display: inline-block;
			vertical-align: middle;
			height: 46px;
			-webkit-transition: all .3s ease;
			-moz-transition: all .3s ease;
			transition: all .3s ease;

			&:hover {
				height: 70px;
			}
		}

		.title {
				font-size: 24px;
				display: block;
				line-height: 30px;
				margin-right: 5px;
				font-weight: 400;

			a {
				color: #333;
			}
		}

		.duration {
			color: #959595;
			font-weight: 300;
			font-size: 16px;
			line-height: 30px;
			display: inline;
		}

			.controls {
				display: none;
				margin-top: 10px;

					a {
						font-size: 13px;
						color: #afafaf;

						&:hover {
							color: lighten(#cc33cc, 20%);
						}
					}

					a + a {
						margin-left: 10px;
					}
			}

		.meta {

			.artist {
				display: inline-block;

			}

			.betweener {
				color: #959595;
				padding: 0 5px;
				display: inline-block;
			}
		}
	}
}