<div class="album">
  <a href="/artist/<%= album.artist.name %>/album/<%= album.name %>" class="album-art">
    <img src="/images/art/<%= album.art %>" width="150" height="150" />
    <div class="name"><%= album.name %></div>
  </a>
</div>