<div class="album">
  <a href="/artist/<%= album.artist.name %>/album/<%= album.name %>" class="album-art">
    <img src="/images/art/<%= album.art %>" width="100" height="100" />
    <%= album.name %>
  </a>
</div>