<div id="sidebar">
  <div class="now-playing">
    <img class="albumart">
    <div class="now-playing-meta">
      <h2 class="title">Beautiful Day</h2>
      <p class="album-info">
        <a href="#">U2</a> - <a href="#">U218 Singles</a>
      </p>
    </div>
    <hr>
    <ul class="now-playing-actions">
      <!-- Todo: add a "is-selected" class to .icon-play-star if the item is starred-->
      <li><a href="#" class="now-playing-action"><span class="icon-play-star"></span> Star Song</a></li>
      <li><a href="#" class="now-playing-action"><span class="now-playing-action-icon icon-cloud-download"></span> Download Song</a></li>
    </ul>
  </div>
</div>

<div id="queue">
	{{#songs}}
	  <br />
	  {{>song}}
	{{/songs}}
</div>