<!DOCTYPE html>

<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/base.css">
  <link ref="stylesheet" href="/css/jquery.ui.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,700,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src="/js/application.js"></script>

  <title>Play: {{title}}</title>

</head>

<body>

  <input id="fileupload" type="file" name="files[]" multiple style="display: none">

  <section id="top-bar">
    <header class="row">

      <!-- <a id="logo">[Play]</a> -->

      <section id="controls">
        <a href="/play" id="play">
          <audio id="play-stream">
            <source src="{{stream}}" type="audio/mp3" />
          </audio>
          <span>Play</span>
        </a>
      </section><!-- /#controls -->

      <span class="user-logged-in">Hello, <a href="/{{login}}">@{{login}}</a></span>

    </header>
  </section>


  <section id="now-playing" class="row">

  </section>


  <section id="queue-results" class="row">

    <header>
      <nav role="queue-history">
        <a class="queue" href="/">Queue</a>
        <a class="history" href="/history">History</a>
      </nav>

      <form class="search" method="get" action="/search" id="search">
        <input type="search" name="q" value="find music" />
      </form>
    </header>

    <section id="songs">
      {{{yield}}}
    </section>

  </section>

  <section id="uploads" class="row">
    <section id="current"></section>

    <div id="progressbar"></div>
  </section>

</body>

</html>
