<!DOCTYPE html>

<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/base.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,700,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>

  <title>Play: {{title}}</title>

</head>

<body>

  <section id="top-bar">
    <header class="row">
      
      <a id="logo">[Play]</a>
      
      <section id="controls">
        <a href="/prev" id="previous">Previous</a>

        {{#playing?}}
        <a href="/pause" id="pause">Pause</a>
        {{/playing?}}

        {{^playing?}}
        <a href="/play" id="play">Play</a>
        {{/playing?}}

        <a href="/next" id="next">Next</a>
      </section><!-- /#controls -->
      
      <a class="user-logged-in" href="/{{login}}">@{{login}}</a>
    
    </header>
  </section><!-- /#top-bar -->
  
  
  <section id="now-playing" class="row">

  </section>

  
  <section id="queue-results" class="row"> 
    
    <header>
      <nav role="queue-history">
        <a class="queue" href="/">Queue</a>
        <a class="history" href="/history">History</a>
      </nav>
      
      <form class="search" method="get" action="/search" id="search">
        <input type="search" name="q" value="find music" />
      </form>  
    </header>

    <section id="songs">
      {{{yield}}}
    </section>
    
  </section>


</body>

</html>
