<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>Play</title>

  <link rel="stylesheet" href="/assets/application.css">
  <link rel="stylesheet" href="/assets/font-awesome.min.css">

  <script type="text/javascript" src="/assets/application.js"></script>
</head>

<body>
  {{{not_running?}}}

  <a href="/">Play</a>
  <div id="header">
  <a href="/"><h1>Play</h1></a>

  <section role="nav">
    <form class="search" action="/search">
      <label for="q">Search</label>
      <input type="text" name="q" id="q" />
    </form>
    <span id="login">
      <a href="/{{current_login}}">{{current_login}}</a>
    </span>
  </section>

  </div><!-- end of header -->


  {{{yield}}}
</body>
</html>