<div id="queue">
	<div class="heading">
		Details for:
		<span class="title">{{login}}</span>
		<ul>
		  <li><a href="/{{login}}">History</a></li>
		  <li><a href="/{{login}}/likes">Likes</a></li>
		</ul>
	</div>

	{{#songs}}
	  {{>song}}
	{{/songs}}
</div>