<div id="sidebar">
  <div class="now-playing">
    <a href="#" class="album-art"><img src="http://cl.ly/image/0C0l1v3K3b2o/content"></a>
    <div class="now-playing-meta">
      <h2 class="title" title="Beautiful Day">Beautiful Day</h2>
      <p class="album-info">
        <a href="#">U2</a> - <a href="#">U218 Singles</a>
      </p>
    </div>
    <hr>
    <ul class="now-playing-actions">
      <!-- Todo: add a "is-selected" class to .icon-play-star if the item is starred-->
      <li><a href="#" class="now-playing-action"><span class="now-playing-action-icon icon-play-star"></span> Star Song</a></li>
      <li><a href="#" class="now-playing-action"><span class="now-playing-action-icon icon-cloud-download"></span> Download Song</a></li>
    </ul>
  </div>
</div>