<div id="sidebar">
  <div class="now-playing">
    {{#now_playing}}
      <a href="/artist/{{artist_name}}/album/{{album_name}}" class="album-art">
        <img src="/images/art/{{art_file}}" />
      </a>

      <div class="now-playing-meta">
        <h2 class="title" title="{{title}}">{{title}}</h2>
        <p class="album-info">
          <a href="/artist/{{artist_name}}" class="artist">{{artist_name}}</a> - <a href="/artist/{{artist_name}}/album/{{album_name}}">{{album_name}}</a>
        </p>
      </div>
      <hr>
      <ul class="now-playing-actions">
        <!-- Todo: add a "is-selected" class to .icon-play-star if the item is starred-->
        <li><a href="#" class="now-playing-action"><span class="now-playing-action-icon icon-play-star"></span> Star Song</a></li>
        <li><a href="#" class="now-playing-action"><span class="now-playing-action-icon icon-cloud-download"></span> Download Song</a></li>
      </ul>
    {{/now_playing}}
  </div>
</div>