<div class="song" data-path="{{path}}">
  <a href="{{uri_prefix}}/artist/{{artist_name}}/album/{{album_name}}">
    <img src="{{uri_prefix}}/images/art/{{art_file}}" width="100" height="100" />
  </a>
  <div class="title"><a href="{{uri_prefix}}/artist/{{artist_name}}/song/{{title}}">{{title}}</a></div><div class="duration">({{duration}})</div>

  <div class="artist"><a href="{{uri_prefix}}/artist/{{artist_name}}">{{artist_name}}</a></div>
  <div class="album"><a href="{{uri_prefix}}/artist/{{artist_name}}/album/{{album_name}}">{{album_name}}</a></div>

  <div class="controls">
    <a href="#" class="add">add</a>
    <a href="#" class="remove">remove</a>
    <a href="{{uri_prefix}}/download/{{path}}">download song</a>
    <a href="{{uri_prefix}}/download/album/{{path}}">download album</a>
    <a href="#" class="like">like</a>
    <a href="#" class="unlike">unlike</a>
    <a href="#" class="dislike">dislike</a>
  </div>
</div>