<div class="song" data-path="{{path}}">
  <a href="/artist/{{artist_name}}/album/{{album_name}}" class="album-art">
    <img src="/images/art/{{art_file}}" width="100" height="100" />
  </a>
  <div class="details">
    <span class="duration"> {{duration}}</span>
    <h2 class="title"><a href="/artist/{{artist_name}}/song/{{title}}">{{title}}</a></h2>

    <div class="meta">
      <a href="/artist/{{artist_name}}" class="artist"><span class="icon-user"></span>{{artist_name}}</a>
      <a href="/artist/{{artist_name}}/album/{{album_name}}" class="album"><span class="icon-music"></span>{{album_name}}</a>
    </div>

    <div class="controls">
      <a href="#" class="add">Add</a>
      <a href="#" class="remove">Remove</a>
      <a href="/download/{{path}}">Download Song</a>
      <a href="/download/album/{{path}}">Download Album</a>
      <a href="#" class="like">Like</a>
      <a href="#" class="unlike">Unlike</a>
      <a href="#" class="dislike">Dislike</a>
    </div>
  </div>
</div>