<!DOCTYPE html>

<head>

  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width">

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/jquery.ui.css">
  <link media="only screen and (max-device-width: 480px)" href="/css/iphone.css" type="text/css" rel="stylesheet">
  <link media="only screen and (aspect-ratio: 16/9)" href="/css/tv.css" rel="stylesheet" type="text/css"> 

  <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,700,600' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  <title>Play</title>

</head>

<body>

  <section id="token" class="row">
  <h2>Your Play Token</h2>
  Use this token to access Play from any of the numerous Play clients available.

  <p id="user-token">{{token}}</p>

  {{#back_to}}
  <a href="{{back_to}}">Back to Play &rarr;</a>
  {{/back_to}}


  </section>



</body>

</html>
